= render "modules/header"

%main
  .maincontent
    .maincontent__loginContent
      %h2.title Customer Login
      %h3.subtitle (会員の方)
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "field__form", placeholder: "E-mail address"
        .field
          = f.password_field :password, autocomplete: "current-password", class: "field__form", placeholder: "Password"
        = check_box_tag :check
        = label_tag :check, "パスワードを表示する", class: "checkbox"
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me, "次回からの入力を省略する", class: "checkbox"
        .login
          = f.submit "ログインする", class: "login__btn"
        = render "users/shared/links"
    %form.maincontent__newCustomerContent
      %h2.title New Customers
      %h3.subtitle (新規会員登録)
      %p 
        無料の会員登録を行って頂くと、お届け先住所を保存ができ大変便利です。
        また、会員限定のお得な最新情報も受け取ることができます。
      %br
      .newCustomer
        = link_to "会員登録をする", new_user_registration_path, class: "newCustomer__btn"

= render "modules/footer"

