%footer
  %ul.footerLogo
    %li
      = link_to "#" do
        %i.fab.fa-facebook
    %li
      = link_to "#" do
        %i.fab.fa-instagram
    %li
      = link_to "#" do
        %i.fab.fa-twitter
  %ul.footerCell
    %li
      = link_to "Home", root_path
    %li
      = link_to "Contact", "#"
    %li
      = link_to "Terms & Conditions", "#"
    %li
      = link_to "Guide", "#"
    %li
      = link_to "Privacy and cookies policy", "#"
    %li
      = link_to "特定商取引に基づく表記", "#"
  %p Copyright © 2020 agung. All rights Reserved.【掲載記事・写真・イラストなどの無断複写・転載を禁じます。】