= render "modules/header"

.slider
  - @RandomProducts.each_with_index do |product, i|
    .product
      = image_tag "#{product.images[0].file}", class: "product__img"
        
%info
  .new-info
    %h3 INFO
    %ul
      %li 2020.09.04	台風9号、10号による集配への影響について。
      %li 2020.08.06	夏季休業のお知らせ。
      %li 2020.05.02	ゴールデンウィーク期間中の配送、お問い合わせに関して。

%main
  %h2.main-title
    %span == NEW ARRIVAL ==
  .items
    - @NewProducts.each_with_index do |product, i|
      .product
        = image_tag "#{product.images[0].file}", class: "product__img"
        .product__name
          = product.name
        .product__price
          = "¥ #{product.price.to_s(:delimited)}"
  .all-more
    = link_to "ALL ITEM", "#", class: "all-more__btn"

  %h2.main-title
    %span == STOCK ITEMS ==
  .items
    - @StockProducts.each_with_index do |product, i|
      .product
        = image_tag "#{product.images[0].file}", class: "product__img"
        .product__name
          = product.name
        .product__price
          = "¥ #{product.price.to_s(:delimited)}"
  .all-more
    = link_to "MORE", "#", class: "all-more__btn"

= render "modules/footer"

.Inquiry-form


