= render "modules/header"

.mainContents
  .mainContents__left
    .slider-for
      - @product.images.each do |product|
        .product
          = image_tag "#{product.file}", class: "product__img"
    .slider-nav
      - @product.images.each do |product|
        .product
          = image_tag "#{product.file}", class: "product__img"
  .mainContents__right
    .productName 
      = @product.name
    .productPrice
      = "¥#{@product.price.to_s(:delimited)}"
    .cartForm
    .productCode
    .productDetail
    .sizeGuide
    




= render "modules/footer"