= render "modules/header"

.titleBox
  %h2.title Delivery Address
  %h3.subtitle (お届け先追加・変更)

%main.mypage
  = render "modules/sidebar"

  .mypageContent
    %h2
      住所を登録いておくことで注文時の配送先入力が簡単になります。
      %br 
        ※最大5件まで登録できます。
    - if @delivery_addresses.empty?
      %h3 登録されているお届け先はありません。
      .btn
        = link_to "新しいお届け先を追加する", new_delivery_address_path, class:"btn__newLink"
        = link_to "マイアカウント TOPへ", user_path(current_user), class:"btn__topLink"
    - else
      .deliveryList
        - @delivery_addresses.each do |delivery_address|
          .list
            .customerInfo 
              = delivery_address.last_name
              = delivery_address.first_name
              .address
                &ensp;
                = "〒#{delivery_address.postal_code}"
                &ensp;
                = "#{delivery_address.prefecture.name}#{delivery_address.city}#{delivery_address.ward}#{delivery_address.building}"
            .listBtn
              = link_to "変更", edit_delivery_address_path(delivery_address.id)
              &ensp;
              = link_to "削除", delivery_address_path(delivery_address.id), method: :delete
      .btn
        = link_to "新しいお届け先を追加する", new_delivery_address_path, class:"btn__newLink"
        = link_to "マイアカウント TOPへ", user_path(current_user), class:"btn__topLink"

= render "modules/footer"